#!/bin/sh
echo "\e[35m-------------------------------------------------------------------------------\e[0m"
zpool status data
echo "\e[35m-------------------------------------------------------------------------------\e[0m"
